body {
  /* border: 1px solid black;
  height: 100vh;
  width: 75vw;
  position: absolute;
  left: 25%;
  width: 75vw; */
}
.table {
  position: absolute;
  left: 25%;
  width: 75vw;
  padding: 2%;
  height: 100%;
  /* border: 1px solid black; */
  cursor: pointer;
  height: 85vh;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;

  padding: 8px;
  text-align: center;
  cursor: pointer;
}

/* uploadprodcut.php */
